<VirtualHost *:80>
ServerName {{ candy_machine['domain'] }}
ServerAlias www.{{ candy_machine['domain'] }}

Redirect permanent / https://{{ candy_machine['domain'] }}/
    TransferLog /var/log/apache2/transfer.{{ candy_machine['domain'] }}.log
</VirtualHost>

<VirtualHost *:443>
   ServerName {{ candy_machine['domain'] }}
   ServerAlias www.{{ candy_machine['domain'] }}

   SSLProxyEngine on
   SSLEngine on
   SSLCertificateFile       /etc/ssl/{{ candy_machine['domain'] }}.crt
   SSLCertificateKeyFile    /etc/ssl/{{ candy_machine['domain'] }}.key
   SSLCACertificateFile     /etc/ssl/{{ candy_machine['domain'] }}.crt
   RequestHeader set "X-Forwarded-Proto" "https"
   SetEnv proxy-nokeepalive 1
        ProxyPass / http://{{ candy_machine['domain'] }}:3000/
        ProxyPassReverse / http://{{ candy_machine['domain'] }}:3000/
   ProxyErrorOverride off
   TransferLog /var/log/apache2/transfer.{{ candy_machine['domain'] }}.log
   #Fix IE problem (httpapache proxy dav error 408/409)
   SetEnv proxy-nokeepalive 1
</VirtualHost>
